	


header{
	font-family: fantasy;
	background-color: darkcyan;
	font-size: 25px;
	font-stretch: 5px;
	font-smooth: always;
	color: floralwhite;
	background-color: #033E3E;
			  color: white;
			  padding: 10px;
			  text-align: center;
			}


			footer {
			padding: 5px;
			background:skyblue;
			color: black;
		}

				body{
					padding:0px;
					margin:0px;
					background-color:lightslategrey;
					text-align: center;
					text-justify: inter-word;
				

				}

  
	  
	  nav{
		  overflow: hidden;
		  background-color:black;

		 
		  }
  
	  nav a{
			 float:left;
			  color: #fff;
			  padding: 14px 16px;
			  text-decoration: none;
			  background-color:black;
	  }
  
	  nav a:hover{
			  background-color:orangered;
			  color:darkblue;
  
			  }
  
			  address {
  			display: block;
 				font-style: italic;
				
 							 }

 				 
			



			  body{
			  	font-size: 125%;
    background-image: url(images/bg.png);
    							  
			      }



  
  p {
	margin-top: 10px;
	margin-left: 1em;
	margin-right: 1em;
	margin-block: 1em;
	margin-bottom: 1rem;
	t
  }
  
.banner-card{
	position: relative;
}

  .banner-card img{
  		max-width: 100%;
  		height:auto;
  }

  .banner-text{
  				position: absolute;
  				top:5%;
  				color: #fff;
  				padding: 5px;


  }

    .banner-text h1{
  				font-size: 37px;
  				text-transform: uppercase;
  				font-weight: bold;
  				margin-bottom: 0px;

  }

   .banner-text p{
  				font-size: 15px;
  				font-weight:bold;
  				margin-bottom: 5px;
  				color: darkred;


  }


  		  .banner-text img{
  				float:top;
  			}


  	.container{
  		padding: 30px;
  	}




  div {
  text-align:justify-all;
  text-justify: inter-word;
}
  
  
  a {
	color: #1abc9c;
	text-decoration: none;
	background-color: transparent;
  }
  a:hover {
	color: #117964;
	text-decoration: underline;
  }
  
  a:not([href]):not([class]) {
	color: inherit;
	text-decoration: none;
  }
  a:not([href]):not([class]):hover {
	color: inherit;
	text-decoration: none;
  }
  
 


/*  Forn Media Mobile Screen fitting size Coding  */




.column.middle{
	float: center;
	padding: 10px;
	width: 50%;


  

  @media screen and (max-width:617px){

  	.column.side{
  		width:100%

  	}
  
  
  
  /* from other sources  */
  
  
	  html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
  }
  
  body {
	margin: 0;
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
  }
  
  [tabindex="-1"]:focus:not(:focus-visible) {
	outline: 0 !important;
  }
  
  
  

  
  fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
  }
  
  legend {
	display: block;
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	line-height: inherit;
	color: inherit;
	white-space: normal;
  }
  